NodeRed/NodeRed Code Export.txt
[{"id":"fa7b782b.0f26a8","type":"tail","z":"d2a8e0d.5336e2","name":"SensorData","split":true,"filename":"iotdata","x":210,"y":168,"wires":[["739d7273.6c847c"]]},{"id":"de6bf12f.776db","type":"debug","z":"d2a8e0d.5336e2","name":"","active":false,"console":"false","complete":"true","x":699,"y":328,"wires":[]},{"id":"74e802f8.f8667c","type":"http in","z":"d2a8e0d.5336e2","name":"","url":"/test","method":"get","swaggerDoc":"","x":260,"y":548,"wires":[["d318fc79.827f5"]]},{"id":"739d7273.6c847c","type":"function","z":"d2a8e0d.5336e2","name":"Save sound","func":"//If our array doens't exsist yet\n//Make it!\nif(context.global.data === undefined)\n{\n context.global.data = [];\n}\n\n//Code to delete context.global\n//This was used while debugging code\n//Sometimes we had to reset our array!\n/*\nfor (var m in context.global)\n{\n delete context.global[m]; \n}\n*/\n\n//Make our sensor object\nsensor = {};\n//The first 3 chars are the ID\nsensor.id = msg.payload.substring(0, 3);\n//The next 3 chars is the sound instensity\nsensor.sound = msg.payload.substring(3, 6);\nsensor.date = new Date();\n\n//Variable (bool) to check if it's a new sensor\nvar newSensor = true;\n\n//For loop for updating our exsisting sensors\n//If the sensor isn't in our array\n//newSensor will stay true\nfor(var s in context.global.data)\n{\n if(context.global.data[s].id === sensor.id)\n {\n context.global.data[s].sound = sensor.sound;\n context.global.data[s].date = sensor.date;\n newSensor = false;\n }\n}\n\n//If it's a new sensor put it inside our array!\nif (newSensor === true)\n{\n context.global.data.push(sensor);\n}\n\nreturn context.global;\n","outputs":1,"noerr":0,"x":458,"y":287,"wires":[["de6bf12f.776db"]]},{"id":"8ac17719.c224e8","type":"http response","z":"d2a8e0d.5336e2","name":"","x":573,"y":562,"wires":[]},{"id":"d318fc79.827f5","type":"function","z":"d2a8e0d.5336e2","name":"Get Sound","func":"var now = new Date();\n\nfor(var i = context.global.data.length -1; i >= 0; i--)\n{\n //If the sensor didn't recieve new values for 60000 ms (1 minute)\n //Remove it from the array\n if(now.getTime() - context.global.data[i].date.getTime() > 60000)\n {\n context.global.data.splice(i, 1);\n }\n}\n\nmsg.payload = context.global.data;\nreturn msg;","outputs":1,"noerr":0,"x":404,"y":479,"wires":[["8ac17719.c224e8"]]}]
